.about-me,
.about-me-info {
  grid-column: 1 / span 12;
}

.about-me {
  background-color: var(--accent-bg-color2);
  padding: 60px 10px;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-me-info {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .about-me,
  .about-me-info {
    grid-column: 2 / -2;
  }
  
  .about-me {
    padding: 50px 10px;
  }
}
